.menu_bg{
    background-color: #222222 !important;

}
.menu_bg ul li a{
    color: #9F9F9F;
}

.menu_desc li a:hover{
    color: #ffffff !important;
    background-color: #283593 !important;
}

.active a{
    background-color: #ff2347 !important;
    color: #ffffff !important;
}

.main_header{
    margin-top: 5px; margin-bottom: 5px
}

.no-margin-bottom{
    margin-bottom: 0 !important;
}

.no-shadow{
    box-shadow: none !important;
}

.social-ico{
    background:url("../img/phone-ico.png");
    background-repeat: no-repeat;
    text-align: center;
    line-height: 13px;
    font-size: 18px;
    padding-left: 40px;
    margin-left: 5px;
    height: 55px;
    position: absolute;
    padding-top: 10px;
    color: #ffffff;
    font-weight: bolder;
}


.header-social-ico{
    background: url(../img/phone-ico1.png) 100% 50%;
    background-repeat: no-repeat;
    text-align: left;
    line-height: 13px;
    font-size: 20px;
    padding-right: 60px;
    margin-left: 5px;
    margin-top: 20px;
    height: 55px;
    position: absolute;
    padding-top: 20px;
    color: #000;
    font-weight: bolder;
    right: 0;
}
